google-cloud-storage==2.16.0
jinja2==3.1.2
numpy==1.24.4
pandas==2.2.3
requests==2.32.3
sqlalchemy==1.4.49
typing-extensions==4.12.0
typing-inspection==0.4.0
pandas-gbq
joblib
db-dtypes==1.1.1
pyarrow==12.0.1
xgboost
scikit-learn==1.3.0




